<div>
    <h2 id="page-heading">
        <span jhiTranslate="escolaOnlineApp.pessoa.home.title">Pessoas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pessoa" [routerLink]="['/pessoa/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="escolaOnlineApp.pessoa.home.createLabel">
            Create a new Pessoa
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pessoas?.length === 0">
        <span jhiTranslate="escolaOnlineApp.pessoa.home.notFound">No pessoas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pessoas && pessoas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="escolaOnlineApp.pessoa.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cpf"><span jhiTranslate="escolaOnlineApp.pessoa.cpf">Cpf</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rg"><span jhiTranslate="escolaOnlineApp.pessoa.rg">Rg</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endereco"><span jhiTranslate="escolaOnlineApp.pessoa.endereco">Endereco</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="complemento"><span jhiTranslate="escolaOnlineApp.pessoa.complemento">Complemento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bairro"><span jhiTranslate="escolaOnlineApp.pessoa.bairro">Bairro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cidade"><span jhiTranslate="escolaOnlineApp.pessoa.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cep"><span jhiTranslate="escolaOnlineApp.pessoa.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefoneCelular"><span jhiTranslate="escolaOnlineApp.pessoa.telefoneCelular">Telefone Celular</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefoneResidencial"><span jhiTranslate="escolaOnlineApp.pessoa.telefoneResidencial">Telefone Residencial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefoneComercial"><span jhiTranslate="escolaOnlineApp.pessoa.telefoneComercial">Telefone Comercial</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="escolaOnlineApp.pessoa.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoes"><span jhiTranslate="escolaOnlineApp.pessoa.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cidadePessoa.id"><span jhiTranslate="escolaOnlineApp.pessoa.cidadePessoa">Cidade Pessoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="escolaPessoa.id"><span jhiTranslate="escolaOnlineApp.pessoa.escolaPessoa">Escola Pessoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pessoa of pessoas ;trackBy: trackId">
                    <td><a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a></td>
                    <td>{{ pessoa.nome }}</td>
                    <td>{{ pessoa.cpf }}</td>
                    <td>{{ pessoa.rg }}</td>
                    <td>{{ pessoa.endereco }}</td>
                    <td>{{ pessoa.complemento }}</td>
                    <td>{{ pessoa.bairro }}</td>
                    <td>{{ pessoa.cidade }}</td>
                    <td>{{ pessoa.cep }}</td>
                    <td>{{ pessoa.telefoneCelular }}</td>
                    <td>{{ pessoa.telefoneResidencial }}</td>
                    <td>{{ pessoa.telefoneComercial }}</td>
                    <td>{{ pessoa.email }}</td>
                    <td>{{ pessoa.observacoes }}</td>
                    <td>
                        <div *ngIf="pessoa.cidadePessoa">
                            <a [routerLink]="['/cidade', pessoa.cidadePessoa?.id, 'view']" >{{ pessoa.cidadePessoa?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="pessoa.escolaPessoa">
                            <a [routerLink]="['/escola', pessoa.escolaPessoa?.id, 'view']" >{{ pessoa.escolaPessoa?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pessoa', pessoa.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pessoa', pessoa.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pessoa)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="pessoas && pessoas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
