<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="matricula">
            <h2><span jhiTranslate="escolaOnlineApp.matricula.detail.title">Matricula</span> {{ matricula.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.matricula.anoLetivo">Ano Letivo</span></dt>
                <dd>
                    <span>{{ matricula.anoLetivo }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.matricula.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{ matricula.dataInicio }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.matricula.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{ matricula.dataFim }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.matricula.turmaMatricula">Turma Matricula</span></dt>
                <dd>
                    <div *ngIf="matricula.turmaMatricula">
                        <a [routerLink]="['/turma', matricula.turmaMatricula?.id, 'view']">{{ matricula.turmaMatricula?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.matricula.alunoMatricula">Aluno Matricula</span></dt>
                <dd>
                    <div *ngIf="matricula.alunoMatricula">
                        <a [routerLink]="['/aluno', matricula.alunoMatricula?.id, 'view']">{{ matricula.alunoMatricula?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/matricula', matricula.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
