<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="detalheUsuario">
      <h2 data-cy="detalheUsuarioDetailsHeading">
        <span jhiTranslate="escolaOnlineApp.detalheUsuario.detail.title">Detalhe Usuario</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ detalheUsuario.id }}</span>
        </dd>
        <dt><span jhiTranslate="escolaOnlineApp.detalheUsuario.cpf">Cpf</span></dt>
        <dd>
          <span>{{ detalheUsuario.cpf }}</span>
        </dd>
        <dt><span jhiTranslate="escolaOnlineApp.detalheUsuario.celular">Celular</span></dt>
        <dd>
          <span>{{ detalheUsuario.celular }}</span>
        </dd>
        <dt><span jhiTranslate="escolaOnlineApp.detalheUsuario.usuario">Usuario</span></dt>
        <dd>
          <span>{{ detalheUsuario.usuario?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/detalhe-usuario', detalheUsuario.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
