<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-solicitacao-heading" jhiTranslate="escolaOnlineApp.solicitacao.home.createOrEditLabel">Create or edit a Solicitacao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.solicitacao.situacaoSolicitacao" for="field_situacaoSolicitacao">Situacao Solicitacao</label>
                    <select class="form-control" name="situacaoSolicitacao" formControlName="situacaoSolicitacao" id="field_situacaoSolicitacao">
                        <option value="AGUARDANDO">{{ 'escolaOnlineApp.SituacaoSolicitacao.AGUARDANDO' | translate }}</option>
                        <option value="EM_ANDAMENTO">{{ 'escolaOnlineApp.SituacaoSolicitacao.EM_ANDAMENTO' | translate }}</option>
                        <option value="CONCLUIDO">{{ 'escolaOnlineApp.SituacaoSolicitacao.CONCLUIDO' | translate }}</option>
                        <option value="CANCELADO">{{ 'escolaOnlineApp.SituacaoSolicitacao.CANCELADO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.solicitacao.dataSolicitacao" for="field_dataSolicitacao">Data Solicitacao</label>
                    <div class="input-group">
                        <input id="field_dataSolicitacao" type="text" class="form-control" name="dataSolicitacao" ngbDatepicker #dataSolicitacaoDp="ngbDatepicker" formControlName="dataSolicitacao"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataSolicitacaoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.solicitacao.observacoesSolicitante" for="field_observacoesSolicitante">Observacoes Solicitante</label>
                    <input type="text" class="form-control" name="observacoesSolicitante" id="field_observacoesSolicitante"
                           formControlName="observacoesSolicitante"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.solicitacao.observacoesAtendimento" for="field_observacoesAtendimento">Observacoes Atendimento</label>
                    <input type="text" class="form-control" name="observacoesAtendimento" id="field_observacoesAtendimento"
                           formControlName="observacoesAtendimento"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.solicitacao.tipoSolicitacaoSolicitacao" for="field_tipoSolicitacaoSolicitacao">Tipo Solicitacao Solicitacao</label>
                    <select class="form-control" id="field_tipoSolicitacaoSolicitacao" name="tipoSolicitacaoSolicitacao" formControlName="tipoSolicitacaoSolicitacao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tipoSolicitacaoOption.id === editForm.get('tipoSolicitacaoSolicitacao')!.value?.id ? editForm.get('tipoSolicitacaoSolicitacao')!.value : tipoSolicitacaoOption" *ngFor="let tipoSolicitacaoOption of tiposolicitacaos; trackBy: trackById">{{ tipoSolicitacaoOption.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.solicitacao.alunoSolicitacao" for="field_alunoSolicitacao">Aluno Solicitacao</label>
                    <select class="form-control" id="field_alunoSolicitacao" name="alunoSolicitacao" formControlName="alunoSolicitacao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alunoOption.id === editForm.get('alunoSolicitacao')!.value?.id ? editForm.get('alunoSolicitacao')!.value : alunoOption" *ngFor="let alunoOption of alunos; trackBy: trackById">{{ alunoOption.pessoaAluno.nome }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
