<div>
    <h2 id="page-heading">
        <span jhiTranslate="escolaOnlineApp.solicitacao.home.title">Solicitacaos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-solicitacao" [routerLink]="['/solicitacao/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="escolaOnlineApp.solicitacao.home.createLabel">
            Create a new Solicitacao
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="solicitacaos?.length === 0">
        <span jhiTranslate="escolaOnlineApp.solicitacao.home.notFound">No solicitacaos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="solicitacaos && solicitacaos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situacaoSolicitacao"><span jhiTranslate="escolaOnlineApp.solicitacao.situacaoSolicitacao">Situacao Solicitacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataSolicitacao"><span jhiTranslate="escolaOnlineApp.solicitacao.dataSolicitacao">Data Solicitacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoesSolicitante"><span jhiTranslate="escolaOnlineApp.solicitacao.observacoesSolicitante">Observacoes Solicitante</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoesAtendimento"><span jhiTranslate="escolaOnlineApp.solicitacao.observacoesAtendimento">Observacoes Atendimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoSolicitacaoSolicitacao.nome"><span jhiTranslate="escolaOnlineApp.solicitacao.tipoSolicitacaoSolicitacao">Tipo Solicitacao Solicitacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alunoSolicitacao.pessoaAluno.nome"><span jhiTranslate="escolaOnlineApp.solicitacao.alunoSolicitacao">Aluno Solicitacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitacao of solicitacaos ;trackBy: trackId">
                    <td><a [routerLink]="['/solicitacao', solicitacao.id, 'view']">{{ solicitacao.id }}</a></td>
                    <td jhiTranslate="{{ 'escolaOnlineApp.SituacaoSolicitacao.' + solicitacao.situacaoSolicitacao }}">{{ solicitacao.situacaoSolicitacao }}</td>
                    <td>{{ solicitacao.dataSolicitacao | date:'mediumDate' }}</td>
                    <td>{{ solicitacao.observacoesSolicitante }}</td>
                    <td>{{ solicitacao.observacoesAtendimento }}</td>
                    <td>
                        <div *ngIf="solicitacao.tipoSolicitacaoSolicitacao">
                            <a [routerLink]="['/tipo-solicitacao', solicitacao.tipoSolicitacaoSolicitacao?.id, 'view']" >{{ solicitacao.tipoSolicitacaoSolicitacao?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="solicitacao.alunoSolicitacao">
                            <a [routerLink]="['/aluno', solicitacao.alunoSolicitacao?.id, 'view']" >{{ solicitacao.alunoSolicitacao?.pessoaAluno.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/solicitacao', solicitacao.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/solicitacao', solicitacao.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(solicitacao)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="solicitacaos && solicitacaos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
