<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-debito-heading" jhiTranslate="escolaOnlineApp.debito.home.createOrEditLabel">Create or edit a Debito</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.tipoDebito" for="field_tipoDebito">Tipo Debito</label>
                    <select class="form-control" name="tipoDebito" formControlName="tipoDebito" id="field_tipoDebito">
                        <option value="MENSALIDADE">{{ 'escolaOnlineApp.TipoDebito.MENSALIDADE' | translate }}</option>
                        <option value="TAXA_MATERIAL">{{ 'escolaOnlineApp.TipoDebito.TAXA_MATERIAL' | translate }}</option>
                        <option value="TAXA_MATRICULA">{{ 'escolaOnlineApp.TipoDebito.TAXA_MATRICULA' | translate }}</option>
                        <option value="TAXA_DOCUMENTO">{{ 'escolaOnlineApp.TipoDebito.TAXA_DOCUMENTO' | translate }}</option>
                        <option value="UNIFORME">{{ 'escolaOnlineApp.TipoDebito.UNIFORME' | translate }}</option>
                        <option value="LIVRO">{{ 'escolaOnlineApp.TipoDebito.LIVRO' | translate }}</option>
                        <option value="CANTINA">{{ 'escolaOnlineApp.TipoDebito.CANTINA' | translate }}</option>
                        <option value="EVENTO">{{ 'escolaOnlineApp.TipoDebito.EVENTO' | translate }}</option>
                        <option value="OUTROS">{{ 'escolaOnlineApp.TipoDebito.OUTROS' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.situacaoDebito" for="field_situacaoDebito">Situacao Debito</label>
                    <select class="form-control" name="situacaoDebito" formControlName="situacaoDebito" id="field_situacaoDebito">
                        <option value="NAO_PAGO">{{ 'escolaOnlineApp.SituacaoDebito.NAO_PAGO' | translate }}</option>
                        <option value="PAGO_PARCIAL">{{ 'escolaOnlineApp.SituacaoDebito.PAGO_PARCIAL' | translate }}</option>
                        <option value="PAGO">{{ 'escolaOnlineApp.SituacaoDebito.PAGO' | translate }}</option>
                        <option value="CANCELADO">{{ 'escolaOnlineApp.SituacaoDebito.CANCELADO' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.dataVencimento" for="field_dataVencimento">Data Vencimento</label>
                    <div class="input-group">
                        <input id="field_dataVencimento" type="text" class="form-control" name="dataVencimento" ngbDatepicker #dataVencimentoDp="ngbDatepicker" formControlName="dataVencimento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataVencimentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.dataPagamento" for="field_dataPagamento">Data Pagamento</label>
                    <div class="input-group">
                        <input id="field_dataPagamento" type="text" class="form-control" name="dataPagamento" ngbDatepicker #dataPagamentoDp="ngbDatepicker" formControlName="dataPagamento"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataPagamentoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.valorOriginal" for="field_valorOriginal">Valor Original</label>
                    <input type="number" class="form-control" name="valorOriginal" id="field_valorOriginal"
                           formControlName="valorOriginal"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.totalPago" for="field_totalPago">Total Pago</label>
                    <input type="number" class="form-control" name="totalPago" id="field_totalPago"
                           formControlName="totalPago"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.totalDesconto" for="field_totalDesconto">Total Desconto</label>
                    <input type="number" class="form-control" name="totalDesconto" id="field_totalDesconto"
                           formControlName="totalDesconto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.totalDevido" for="field_totalDevido">Total Devido</label>
                    <input type="number" class="form-control" name="totalDevido" id="field_totalDevido"
                           formControlName="totalDevido"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.observacoes" for="field_observacoes">Observacoes</label>
                    <input type="text" class="form-control" name="observacoes" id="field_observacoes"
                           formControlName="observacoes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.debito.alunoDebito" for="field_alunoDebito">Aluno Debito</label>
                    <select class="form-control" id="field_alunoDebito" name="alunoDebito" formControlName="alunoDebito">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alunoOption.id === editForm.get('alunoDebito')!.value?.id ? editForm.get('alunoDebito')!.value : alunoOption" *ngFor="let alunoOption of alunos; trackBy: trackById">{{ alunoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
