<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="debito">
            <h2><span jhiTranslate="escolaOnlineApp.debito.detail.title">Debito</span> {{ debito.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.debito.tipoDebito">Tipo Debito</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'escolaOnlineApp.TipoDebito.' + debito.tipoDebito }}">{{ debito.tipoDebito }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.situacaoDebito">Situacao Debito</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'escolaOnlineApp.SituacaoDebito.' + debito.situacaoDebito }}">{{ debito.situacaoDebito }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.dataVencimento">Data Vencimento</span></dt>
                <dd>
                    <span>{{ debito.dataVencimento }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.dataPagamento">Data Pagamento</span></dt>
                <dd>
                    <span>{{ debito.dataPagamento }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.valorOriginal">Valor Original</span></dt>
                <dd>
                    <span>{{ debito.valorOriginal }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.totalPago">Total Pago</span></dt>
                <dd>
                    <span>{{ debito.totalPago }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.totalDesconto">Total Desconto</span></dt>
                <dd>
                    <span>{{ debito.totalDesconto }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.totalDevido">Total Devido</span></dt>
                <dd>
                    <span>{{ debito.totalDevido }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.observacoes">Observacoes</span></dt>
                <dd>
                    <span>{{ debito.observacoes }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.debito.alunoDebito">Aluno Debito</span></dt>
                <dd>
                    <div *ngIf="debito.alunoDebito">
                        <a [routerLink]="['/aluno', debito.alunoDebito?.id, 'view']">{{ debito.alunoDebito?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/debito', debito.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
