<div>
    <h2 id="page-heading">
        <span jhiTranslate="escolaOnlineApp.debito.home.title">Debitos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-debito" [routerLink]="['/debito/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="escolaOnlineApp.debito.home.createLabel">
            Create a new Debito
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="debitos?.length === 0">
        <span jhiTranslate="escolaOnlineApp.debito.home.notFound">No debitos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="debitos && debitos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoDebito"><span jhiTranslate="escolaOnlineApp.debito.tipoDebito">Tipo Debito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situacaoDebito"><span jhiTranslate="escolaOnlineApp.debito.situacaoDebito">Situacao Debito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataVencimento"><span jhiTranslate="escolaOnlineApp.debito.dataVencimento">Data Vencimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataPagamento"><span jhiTranslate="escolaOnlineApp.debito.dataPagamento">Data Pagamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorOriginal"><span jhiTranslate="escolaOnlineApp.debito.valorOriginal">Valor Original</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalPago"><span jhiTranslate="escolaOnlineApp.debito.totalPago">Total Pago</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalDesconto"><span jhiTranslate="escolaOnlineApp.debito.totalDesconto">Total Desconto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalDevido"><span jhiTranslate="escolaOnlineApp.debito.totalDevido">Total Devido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoes"><span jhiTranslate="escolaOnlineApp.debito.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alunoDebito.id"><span jhiTranslate="escolaOnlineApp.debito.alunoDebito">Aluno Debito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let debito of debitos ;trackBy: trackId">
                    <td><a [routerLink]="['/debito', debito.id, 'view']">{{ debito.id }}</a></td>
                    <td jhiTranslate="{{ 'escolaOnlineApp.TipoDebito.' + debito.tipoDebito }}">{{ debito.tipoDebito }}</td>
                    <td jhiTranslate="{{ 'escolaOnlineApp.SituacaoDebito.' + debito.situacaoDebito }}">{{ debito.situacaoDebito }}</td>
                    <td>{{ debito.dataVencimento | date:'mediumDate' }}</td>
                    <td>{{ debito.dataPagamento | date:'mediumDate' }}</td>
                    <td>{{ debito.valorOriginal }}</td>
                    <td>{{ debito.totalPago }}</td>
                    <td>{{ debito.totalDesconto }}</td>
                    <td>{{ debito.totalDevido }}</td>
                    <td>{{ debito.observacoes }}</td>
                    <td>
                        <div *ngIf="debito.alunoDebito">
                            <a [routerLink]="['/aluno', debito.alunoDebito?.id, 'view']" >{{ debito.alunoDebito?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/debito', debito.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/debito', debito.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(debito)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="debitos && debitos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
