<div>
    <h2 id="page-heading">
        <span jhiTranslate="escolaOnlineApp.historicoDebito.home.title">Historico Debitos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-historico-debito" [routerLink]="['/historico-debito/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="escolaOnlineApp.historicoDebito.home.createLabel">
            Create a new Historico Debito
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="historicoDebitos?.length === 0">
        <span jhiTranslate="escolaOnlineApp.historicoDebito.home.notFound">No historicoDebitos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="historicoDebitos && historicoDebitos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataLancamento"><span jhiTranslate="escolaOnlineApp.historicoDebito.dataLancamento">Data Lancamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="situacaoDebito"><span jhiTranslate="escolaOnlineApp.historicoDebito.situacaoDebito">Situacao Debito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataVencimento"><span jhiTranslate="escolaOnlineApp.historicoDebito.dataVencimento">Data Vencimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataPagamento"><span jhiTranslate="escolaOnlineApp.historicoDebito.dataPagamento">Data Pagamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorOriginal"><span jhiTranslate="escolaOnlineApp.historicoDebito.valorOriginal">Valor Original</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalPago"><span jhiTranslate="escolaOnlineApp.historicoDebito.totalPago">Total Pago</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalDesconto"><span jhiTranslate="escolaOnlineApp.historicoDebito.totalDesconto">Total Desconto</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalDevido"><span jhiTranslate="escolaOnlineApp.historicoDebito.totalDevido">Total Devido</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoes"><span jhiTranslate="escolaOnlineApp.historicoDebito.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="debitoHistoricoDebito.id"><span jhiTranslate="escolaOnlineApp.historicoDebito.debitoHistoricoDebito">Debito Historico Debito</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detalheUsuarioLancamento.id"><span jhiTranslate="escolaOnlineApp.historicoDebito.detalheUsuarioLancamento">Detalhe Usuario Lancamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let historicoDebito of historicoDebitos ;trackBy: trackId">
                    <td><a [routerLink]="['/historico-debito', historicoDebito.id, 'view']">{{ historicoDebito.id }}</a></td>
                    <td>{{ historicoDebito.dataLancamento | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'escolaOnlineApp.SituacaoDebito.' + historicoDebito.situacaoDebito }}">{{ historicoDebito.situacaoDebito }}</td>
                    <td>{{ historicoDebito.dataVencimento | date:'mediumDate' }}</td>
                    <td>{{ historicoDebito.dataPagamento | date:'mediumDate' }}</td>
                    <td>{{ historicoDebito.valorOriginal }}</td>
                    <td>{{ historicoDebito.totalPago }}</td>
                    <td>{{ historicoDebito.totalDesconto }}</td>
                    <td>{{ historicoDebito.totalDevido }}</td>
                    <td>{{ historicoDebito.observacoes }}</td>
                    <td>
                        <div *ngIf="historicoDebito.debitoHistoricoDebito">
                            <a [routerLink]="['/debito', historicoDebito.debitoHistoricoDebito?.id, 'view']" >{{ historicoDebito.debitoHistoricoDebito?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="historicoDebito.detalheUsuarioLancamento">
                            <a [routerLink]="['/detalhe-usuario', historicoDebito.detalheUsuarioLancamento?.id, 'view']" >{{ historicoDebito.detalheUsuarioLancamento?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/historico-debito', historicoDebito.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/historico-debito', historicoDebito.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(historicoDebito)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="historicoDebitos && historicoDebitos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
