<div>
    <h2 id="page-heading">
        <span jhiTranslate="escolaOnlineApp.aluno.home.title">Alunos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aluno" [routerLink]="['/aluno/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="escolaOnlineApp.aluno.home.createLabel">
            Create a new Aluno
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="alunos?.length === 0">
        <span jhiTranslate="escolaOnlineApp.aluno.home.notFound">No alunos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="alunos && alunos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataNascimento"><span jhiTranslate="escolaOnlineApp.aluno.dataNascimento">Data Nascimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoSanguineo"><span jhiTranslate="escolaOnlineApp.aluno.tipoSanguineo">Tipo Sanguineo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomePai"><span jhiTranslate="escolaOnlineApp.aluno.nomePai">Nome Pai</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefonePai"><span jhiTranslate="escolaOnlineApp.aluno.telefonePai">Telefone Pai</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomeMae"><span jhiTranslate="escolaOnlineApp.aluno.nomeMae">Nome Mae</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefoneMae"><span jhiTranslate="escolaOnlineApp.aluno.telefoneMae">Telefone Mae</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomeResponsavel"><span jhiTranslate="escolaOnlineApp.aluno.nomeResponsavel">Nome Responsavel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cpfResponsavel"><span jhiTranslate="escolaOnlineApp.aluno.cpfResponsavel">Cpf Responsavel</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoes"><span jhiTranslate="escolaOnlineApp.aluno.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pessoaAluno.id"><span jhiTranslate="escolaOnlineApp.aluno.pessoaAluno">Pessoa Aluno</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="escolaAluno.id"><span jhiTranslate="escolaOnlineApp.aluno.escolaAluno">Escola Aluno</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aluno of alunos ;trackBy: trackId">
                    <td><a [routerLink]="['/aluno', aluno.id, 'view']">{{ aluno.id }}</a></td>
                    <td>{{ aluno.dataNascimento | date:'mediumDate' }}</td>
                    <td jhiTranslate="{{ 'escolaOnlineApp.TipoSanguineo.' + aluno.tipoSanguineo }}">{{ aluno.tipoSanguineo }}</td>
                    <td>{{ aluno.nomePai }}</td>
                    <td>{{ aluno.telefonePai }}</td>
                    <td>{{ aluno.nomeMae }}</td>
                    <td>{{ aluno.telefoneMae }}</td>
                    <td>{{ aluno.nomeResponsavel }}</td>
                    <td>{{ aluno.cpfResponsavel }}</td>
                    <td>{{ aluno.observacoes }}</td>
                    <td>
                        <div *ngIf="aluno.pessoaAluno">
                            <a [routerLink]="['/pessoa', aluno.pessoaAluno?.id, 'view']" >{{ aluno.pessoaAluno?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="aluno.escolaAluno">
                            <a [routerLink]="['/escola', aluno.escolaAluno?.id, 'view']" >{{ aluno.escolaAluno?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/aluno', aluno.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/aluno', aluno.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(aluno)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="alunos && alunos.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
