<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aluno">
            <h2><span jhiTranslate="escolaOnlineApp.aluno.detail.title">Aluno</span> {{ aluno.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.aluno.dataNascimento">Data Nascimento</span></dt>
                <dd>
                    <span>{{ aluno.dataNascimento }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.tipoSanguineo">Tipo Sanguineo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'escolaOnlineApp.TipoSanguineo.' + aluno.tipoSanguineo }}">{{ aluno.tipoSanguineo }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.nomePai">Nome Pai</span></dt>
                <dd>
                    <span>{{ aluno.nomePai }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.telefonePai">Telefone Pai</span></dt>
                <dd>
                    <span>{{ aluno.telefonePai }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.nomeMae">Nome Mae</span></dt>
                <dd>
                    <span>{{ aluno.nomeMae }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.telefoneMae">Telefone Mae</span></dt>
                <dd>
                    <span>{{ aluno.telefoneMae }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.nomeResponsavel">Nome Responsavel</span></dt>
                <dd>
                    <span>{{ aluno.nomeResponsavel }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.cpfResponsavel">Cpf Responsavel</span></dt>
                <dd>
                    <span>{{ aluno.cpfResponsavel }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.observacoes">Observacoes</span></dt>
                <dd>
                    <span>{{ aluno.observacoes }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.pessoaAluno">Pessoa Aluno</span></dt>
                <dd>
                    <div *ngIf="aluno.pessoaAluno">
                        <a [routerLink]="['/pessoa', aluno.pessoaAluno?.id, 'view']">{{ aluno.pessoaAluno?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.escolaAluno">Escola Aluno</span></dt>
                <dd>
                    <div *ngIf="aluno.escolaAluno">
                        <a [routerLink]="['/escola', aluno.escolaAluno?.id, 'view']">{{ aluno.escolaAluno?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aluno', aluno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
