<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aluno">
            <h2><span jhiTranslate="escolaOnlineApp.aluno.detail.title">Aluno</span> {{ aluno.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.aluno.pessoaAluno">Pessoa Aluno</span></dt>
                <dd>
                    <div *ngIf="aluno.pessoaAluno">
                        <a [routerLink]="['/pessoa', aluno.pessoaAluno?.id, 'view']">{{ aluno.pessoaAluno?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.aluno.escolaAluno">Escola Aluno</span></dt>
                <dd>
                    <div *ngIf="aluno.escolaAluno">
                        <a [routerLink]="['/escola', aluno.escolaAluno?.id, 'view']">{{ aluno.escolaAluno?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aluno', aluno.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
