<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unidade">
            <h2><span jhiTranslate="escolaOnlineApp.unidade.detail.title">Unidade</span> {{ unidade.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.unidade.nome">Nome</span></dt>
                <dd>
                    <span>{{ unidade.nome }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{ unidade.cnpj }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.endereco">Endereco</span></dt>
                <dd>
                    <span>{{ unidade.endereco }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.complemento">Complemento</span></dt>
                <dd>
                    <span>{{ unidade.complemento }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.bairro">Bairro</span></dt>
                <dd>
                    <span>{{ unidade.bairro }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.cidade">Cidade</span></dt>
                <dd>
                    <span>{{ unidade.cidade }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.cep">Cep</span></dt>
                <dd>
                    <span>{{ unidade.cep }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.telefoneComercial">Telefone Comercial</span></dt>
                <dd>
                    <span>{{ unidade.telefoneComercial }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.telefoneWhatsapp">Telefone Whatsapp</span></dt>
                <dd>
                    <span>{{ unidade.telefoneWhatsapp }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.email">Email</span></dt>
                <dd>
                    <span>{{ unidade.email }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.facebook">Facebook</span></dt>
                <dd>
                    <span>{{ unidade.facebook }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.observacoes">Observacoes</span></dt>
                <dd>
                    <span>{{ unidade.observacoes }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.escolaUnidade">Escola Unidade</span></dt>
                <dd>
                    <div *ngIf="unidade.escolaUnidade">
                        <a [routerLink]="['/escola', unidade.escolaUnidade?.id, 'view']">{{ unidade.escolaUnidade?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unidade', unidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
