<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="unidade">
            <h2><span jhiTranslate="escolaOnlineApp.unidade.detail.title">Unidade</span> {{ unidade.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.unidade.nome">Nome</span></dt>
                <dd>
                    <span>{{ unidade.nome }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.unidade.escolaUnidade">Escola Unidade</span></dt>
                <dd>
                    <div *ngIf="unidade.escolaUnidade">
                        <a [routerLink]="['/escola', unidade.escolaUnidade?.id, 'view']">{{ unidade.escolaUnidade?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/unidade', unidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
