<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="materia">
      <h2 data-cy="materiaDetailsHeading"><span jhiTranslate="escolaOnlineApp.materia.detail.title">Materia</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ materia.id }}</span>
        </dd>
        <dt><span jhiTranslate="escolaOnlineApp.materia.nome">Nome</span></dt>
        <dd>
          <span>{{ materia.nome }}</span>
        </dd>
        <dt><span jhiTranslate="escolaOnlineApp.materia.sigla">Sigla</span></dt>
        <dd>
          <span>{{ materia.sigla }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/materia', materia.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
