<div>
  <h2 id="page-heading" data-cy="PessoaHeading">
    <span jhiTranslate="escolaOnlineApp.pessoa.home.title">Pessoas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.pessoa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pessoa"
        [routerLink]="['/pessoa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.pessoa.home.createLabel"> Create a new Pessoa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pessoas?.length === 0">
    <span jhiTranslate="escolaOnlineApp.pessoa.home.notFound">No pessoas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pessoas && pessoas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.cpf">Cpf</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.rg">Rg</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.endereco">Endereco</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.complemento">Complemento</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.bairro">Bairro</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.cidade">Cidade</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.cep">Cep</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.telefoneCelular">Telefone Celular</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.telefoneResidencial">Telefone Residencial</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.telefoneComercial">Telefone Comercial</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.email">Email</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.observacoes">Observacoes</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.cidadePessoa">Cidade Pessoa</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.pessoa.escolaPessoa">Escola Pessoa</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pessoa', pessoa.id, 'view']">{{ pessoa.id }}</a>
          </td>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.cpf }}</td>
          <td>{{ pessoa.rg }}</td>
          <td>{{ pessoa.endereco }}</td>
          <td>{{ pessoa.complemento }}</td>
          <td>{{ pessoa.bairro }}</td>
          <td>{{ pessoa.cidade }}</td>
          <td>{{ pessoa.cep }}</td>
          <td>{{ pessoa.telefoneCelular }}</td>
          <td>{{ pessoa.telefoneResidencial }}</td>
          <td>{{ pessoa.telefoneComercial }}</td>
          <td>{{ pessoa.email }}</td>
          <td>{{ pessoa.observacoes }}</td>
          <td>
            <div *ngIf="pessoa.cidadePessoa">
              <a [routerLink]="['/cidade', pessoa.cidadePessoa?.id, 'view']">{{ pessoa.cidadePessoa?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="pessoa.escolaPessoa">
              <a [routerLink]="['/escola', pessoa.escolaPessoa?.id, 'view']">{{ pessoa.escolaPessoa?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pessoa', pessoa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pessoa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
