<div>
  <h2 id="page-heading" data-cy="AlunoHeading">
    <span jhiTranslate="escolaOnlineApp.aluno.home.title">Alunos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.aluno.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-aluno"
        [routerLink]="['/aluno/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.aluno.home.createLabel"> Create a new Aluno </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="alunos?.length === 0">
    <span jhiTranslate="escolaOnlineApp.aluno.home.notFound">No alunos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="alunos && alunos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.dataNascimento">Data Nascimento</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.tipoSanguineo">Tipo Sanguineo</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.nomePai">Nome Pai</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.telefonePai">Telefone Pai</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.nomeMae">Nome Mae</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.telefoneMae">Telefone Mae</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.nomeResponsavel">Nome Responsavel</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.cpfResponsavel">Cpf Responsavel</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.observacoes">Observacoes</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.pessoaAluno">Pessoa Aluno</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.aluno.escolaAluno">Escola Aluno</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of alunos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/aluno', aluno.id, 'view']">{{ aluno.id }}</a>
          </td>
          <td>{{ aluno.dataNascimento | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'escolaOnlineApp.TipoSanguineo.' + aluno.tipoSanguineo }}">{{ aluno.tipoSanguineo }}</td>
          <td>{{ aluno.nomePai }}</td>
          <td>{{ aluno.telefonePai }}</td>
          <td>{{ aluno.nomeMae }}</td>
          <td>{{ aluno.telefoneMae }}</td>
          <td>{{ aluno.nomeResponsavel }}</td>
          <td>{{ aluno.cpfResponsavel }}</td>
          <td>{{ aluno.observacoes }}</td>
          <td>
            <div *ngIf="aluno.pessoaAluno">
              <a [routerLink]="['/pessoa', aluno.pessoaAluno?.id, 'view']">{{ aluno.pessoaAluno?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="aluno.escolaAluno">
              <a [routerLink]="['/escola', aluno.escolaAluno?.id, 'view']">{{ aluno.escolaAluno?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/aluno', aluno.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/aluno', aluno.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(aluno)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
