<div>
  <h2 id="page-heading" data-cy="MatriculaHeading">
    <span jhiTranslate="escolaOnlineApp.matricula.home.title">Matriculas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.matricula.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-matricula"
        [routerLink]="['/matricula/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.matricula.home.createLabel"> Create a new Matricula </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matriculas?.length === 0">
    <span jhiTranslate="escolaOnlineApp.matricula.home.notFound">No matriculas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matriculas && matriculas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.matricula.anoLetivo">Ano Letivo</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.matricula.dataInicio">Data Inicio</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.matricula.dataFim">Data Fim</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.matricula.turmaMatricula">Turma Matricula</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.matricula.alunoMatricula">Aluno Matricula</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let matricula of matriculas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/matricula', matricula.id, 'view']">{{ matricula.id }}</a>
          </td>
          <td>{{ matricula.anoLetivo }}</td>
          <td>{{ matricula.dataInicio | formatMediumDate }}</td>
          <td>{{ matricula.dataFim | formatMediumDate }}</td>
          <td>
            <div *ngIf="matricula.turmaMatricula">
              <a [routerLink]="['/turma', matricula.turmaMatricula?.id, 'view']">{{ matricula.turmaMatricula?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="matricula.alunoMatricula">
              <a [routerLink]="['/aluno', matricula.alunoMatricula?.id, 'view']">{{ matricula.alunoMatricula?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/matricula', matricula.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/matricula', matricula.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(matricula)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
