<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tipo-solicitacao-heading" jhiTranslate="escolaOnlineApp.tipoSolicitacao.home.createOrEditLabel">Create or edit a Tipo Solicitacao</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.tipoSolicitacao.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.tipoSolicitacao.prazoAtendimento" for="field_prazoAtendimento">Prazo Atendimento</label>
                    <input type="number" class="form-control" name="prazoAtendimento" id="field_prazoAtendimento"
                           formControlName="prazoAtendimento"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.tipoSolicitacao.valorEmissao" for="field_valorEmissao">Valor Emissao</label>
                    <input type="number" class="form-control" name="valorEmissao" id="field_valorEmissao"
                           formControlName="valorEmissao"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.tipoSolicitacao.escolaTipoSolicitacao" for="field_escolaTipoSolicitacao">Escola Tipo Solicitacao</label>
                    <select class="form-control" id="field_escolaTipoSolicitacao" name="escolaTipoSolicitacao" formControlName="escolaTipoSolicitacao">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="escolaOption.id === editForm.get('escolaTipoSolicitacao')!.value?.id ? editForm.get('escolaTipoSolicitacao')!.value : escolaOption" *ngFor="let escolaOption of escolas; trackBy: trackById">{{ escolaOption.nome }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
