<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="conteudo">
            <h2><span jhiTranslate="escolaOnlineApp.conteudo.detail.title">Conteudo</span> {{ conteudo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.conteudo.dataAula">Data Aula</span></dt>
                <dd>
                    <span>{{ conteudo.dataAula }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.conteudo.habilidadesCompetencias">Habilidades Competencias</span></dt>
                <dd>
                    <span>{{ conteudo.habilidadesCompetencias }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.conteudo.observacoes">Observacoes</span></dt>
                <dd>
                    <span>{{ conteudo.observacoes }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.conteudo.turmaConteudo">Turma Conteudo</span></dt>
                <dd>
                    <div *ngIf="conteudo.turmaConteudo">
                        <a [routerLink]="['/turma', conteudo.turmaConteudo?.id, 'view']">{{ conteudo.turmaConteudo?.nome }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.conteudo.professorConteudo">Professor Conteudo</span></dt>
                <dd>
                    <div *ngIf="conteudo.professorConteudo">
                        <a [routerLink]="['/professor', conteudo.professorConteudo?.id, 'view']">{{ conteudo.professorConteudo?.pessoaProfessor.nome }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.conteudo.materiaConteudo">Materia Conteudo</span></dt>
                <dd>
                    <div *ngIf="conteudo.materiaConteudo">
                        <a [routerLink]="['/materia', conteudo.materiaConteudo?.id, 'view']">{{ conteudo.materiaConteudo?.nome }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/conteudo', conteudo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
