<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-conteudo-heading" jhiTranslate="escolaOnlineApp.conteudo.home.createOrEditLabel">Create or edit a Conteudo</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.conteudo.dataAula" for="field_dataAula">Data Aula</label>
                    <div class="input-group">
                        <input id="field_dataAula" type="text" class="form-control" name="dataAula" ngbDatepicker #dataAulaDp="ngbDatepicker" formControlName="dataAula"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataAulaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.conteudo.habilidadesCompetencias" for="field_habilidadesCompetencias">Habilidades Competencias</label>
                    <input type="text" class="form-control" name="habilidadesCompetencias" id="field_habilidadesCompetencias"
                           formControlName="habilidadesCompetencias"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.conteudo.observacoes" for="field_observacoes">Observacoes</label>
                    <input type="text" class="form-control" name="observacoes" id="field_observacoes"
                           formControlName="observacoes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.conteudo.turmaConteudo" for="field_turmaConteudo">Turma Conteudo</label>
                    <select class="form-control" id="field_turmaConteudo" name="turmaConteudo" formControlName="turmaConteudo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="turmaOption.id === editForm.get('turmaConteudo')!.value?.id ? editForm.get('turmaConteudo')!.value : turmaOption" *ngFor="let turmaOption of turmas; trackBy: trackById">{{ turmaOption.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.conteudo.professorConteudo" for="field_professorConteudo">Professor Conteudo</label>
                    <select class="form-control" id="field_professorConteudo" name="professorConteudo" formControlName="professorConteudo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="professorOption.id === editForm.get('professorConteudo')!.value?.id ? editForm.get('professorConteudo')!.value : professorOption" *ngFor="let professorOption of professors; trackBy: trackById">{{ professorOption.pessoaProfessor?.nome }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="escolaOnlineApp.conteudo.materiaConteudo" for="field_materiaConteudo">Materia Conteudo</label>
                    <select class="form-control" id="field_materiaConteudo" name="materiaConteudo" formControlName="materiaConteudo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="materiaOption.id === editForm.get('materiaConteudo')!.value?.id ? editForm.get('materiaConteudo')!.value : materiaOption" *ngFor="let materiaOption of materias; trackBy: trackById">{{ materiaOption.nome }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
