<div>
  <h2 id="page-heading" data-cy="ConteudoHeading">
    <span jhiTranslate="escolaOnlineApp.conteudo.home.title">Conteudos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.conteudo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-conteudo"
        [routerLink]="['/conteudo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.conteudo.home.createLabel"> Create a new Conteudo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="conteudos?.length === 0">
    <span jhiTranslate="escolaOnlineApp.conteudo.home.notFound">No conteudos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="conteudos && conteudos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.conteudo.dataAula">Data Aula</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.conteudo.habilidadesCompetencias">Habilidades Competencias</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.conteudo.observacoes">Observacoes</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.conteudo.turmaConteudo">Turma Conteudo</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.conteudo.professorConteudo">Professor Conteudo</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.conteudo.materiaConteudo">Materia Conteudo</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let conteudo of conteudos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/conteudo', conteudo.id, 'view']">{{ conteudo.id }}</a>
          </td>
          <td>{{ conteudo.dataAula | formatMediumDate }}</td>
          <td>{{ conteudo.habilidadesCompetencias }}</td>
          <td>{{ conteudo.observacoes }}</td>
          <td>
            <div *ngIf="conteudo.turmaConteudo">
              <a [routerLink]="['/turma', conteudo.turmaConteudo?.id, 'view']">{{ conteudo.turmaConteudo?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="conteudo.professorConteudo">
              <a [routerLink]="['/professor', conteudo.professorConteudo?.id, 'view']">{{ conteudo.professorConteudo?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="conteudo.materiaConteudo">
              <a [routerLink]="['/materia', conteudo.materiaConteudo?.id, 'view']">{{ conteudo.materiaConteudo?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/conteudo', conteudo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/conteudo', conteudo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(conteudo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
