<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-grade-heading" data-cy="GradeCreateUpdateHeading" jhiTranslate="escolaOnlineApp.grade.home.createOrEditLabel">
        Create or edit a Grade
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.grade.anoLetivo" for="field_anoLetivo">Ano Letivo</label>
          <input type="number" class="form-control" name="anoLetivo" id="field_anoLetivo" data-cy="anoLetivo" formControlName="anoLetivo" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.grade.serieGrade" for="field_serieGrade">Serie Grade</label>
          <select class="form-control" id="field_serieGrade" data-cy="serieGrade" name="serieGrade" formControlName="serieGrade">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="serieOption.id === editForm.get('serieGrade')!.value?.id ? editForm.get('serieGrade')!.value : serieOption"
              *ngFor="let serieOption of seriesSharedCollection; trackBy: trackSerieById"
            >
              {{ serieOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.grade.materiaGrade" for="field_materiaGrade">Materia Grade</label>
          <select class="form-control" id="field_materiaGrade" data-cy="materiaGrade" name="materiaGrade" formControlName="materiaGrade">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="materiaOption.id === editForm.get('materiaGrade')!.value?.id ? editForm.get('materiaGrade')!.value : materiaOption"
              *ngFor="let materiaOption of materiasSharedCollection; trackBy: trackMateriaById"
            >
              {{ materiaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
