<div>
    <h2 id="page-heading">
        <span jhiTranslate="escolaOnlineApp.chamada.home.title">Chamadas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chamada" [routerLink]="['/chamada/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="escolaOnlineApp.chamada.home.createLabel">
            Create a new Chamada
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="chamadas?.length === 0">
        <span jhiTranslate="escolaOnlineApp.chamada.home.notFound">No chamadas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="chamadas && chamadas.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataAula"><span jhiTranslate="escolaOnlineApp.chamada.dataAula">Data Aula</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacoes"><span jhiTranslate="escolaOnlineApp.chamada.observacoes">Observacoes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="alunoChamada.pessoaAluno.nome"><span jhiTranslate="escolaOnlineApp.chamada.alunoChamada">Aluno Chamada</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="turmaChamada.nome"><span jhiTranslate="escolaOnlineApp.chamada.turmaChamada">Turma Chamada</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="professorChamada.pessoaProfessor.nome"><span jhiTranslate="escolaOnlineApp.chamada.professorChamada">Professor Chamada</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let chamada of chamadas ;trackBy: trackId">
                    <td><a [routerLink]="['/chamada', chamada.id, 'view']">{{ chamada.id }}</a></td>
                    <td>{{ chamada.dataAula | date:'mediumDate' }}</td>
                    <td>{{ chamada.observacoes }}</td>
                    <td>
                        <div *ngIf="chamada.alunoChamada">
                            <a [routerLink]="['/aluno', chamada.alunoChamada?.id, 'view']" >{{ chamada.alunoChamada?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="chamada.turmaChamada">
                            <a [routerLink]="['/turma', chamada.turmaChamada?.id, 'view']" >{{ chamada.turmaChamada?.nome }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="chamada.professorChamada">
                            <a [routerLink]="['/professor', chamada.professorChamada?.id, 'view']" >{{ chamada.professorChamada?.nome }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/chamada', chamada.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/chamada', chamada.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(chamada)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="chamadas && chamadas.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
