<div>
  <h2 id="page-heading" data-cy="DiretorHeading">
    <span jhiTranslate="escolaOnlineApp.diretor.home.title">Diretors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.diretor.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-diretor"
        [routerLink]="['/diretor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="escolaOnlineApp.diretor.home.createLabel"> Create a new Diretor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="diretors?.length === 0">
    <span jhiTranslate="escolaOnlineApp.diretor.home.notFound">No diretors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="diretors && diretors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.diretor.anoLetivo">Ano Letivo</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.diretor.dataInicio">Data Inicio</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.diretor.dataFim">Data Fim</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.diretor.pessoaDiretor">Pessoa Diretor</span></th>
          <th scope="col"><span jhiTranslate="escolaOnlineApp.diretor.unidadeDiretor">Unidade Diretor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let diretor of diretors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/diretor', diretor.id, 'view']">{{ diretor.id }}</a>
          </td>
          <td>{{ diretor.anoLetivo }}</td>
          <td>{{ diretor.dataInicio | formatMediumDate }}</td>
          <td>{{ diretor.dataFim | formatMediumDate }}</td>
          <td>
            <div *ngIf="diretor.pessoaDiretor">
              <a [routerLink]="['/pessoa', diretor.pessoaDiretor?.id, 'view']">{{ diretor.pessoaDiretor?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="diretor.unidadeDiretor">
              <a [routerLink]="['/unidade', diretor.unidadeDiretor?.id, 'view']">{{ diretor.unidadeDiretor?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/diretor', diretor.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/diretor', diretor.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(diretor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
