<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-chamada-heading" data-cy="ChamadaCreateUpdateHeading" jhiTranslate="escolaOnlineApp.chamada.home.createOrEditLabel">
        Create or edit a Chamada
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.chamada.dataAula" for="field_dataAula">Data Aula</label>
          <div class="input-group">
            <input
              id="field_dataAula"
              data-cy="dataAula"
              type="text"
              class="form-control"
              name="dataAula"
              ngbDatepicker
              #dataAulaDp="ngbDatepicker"
              formControlName="dataAula"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dataAulaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.chamada.observacoes" for="field_observacoes">Observacoes</label>
          <input
            type="text"
            class="form-control"
            name="observacoes"
            id="field_observacoes"
            data-cy="observacoes"
            formControlName="observacoes"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.chamada.alunoChamada" for="field_alunoChamada"
            >Aluno Chamada</label
          >
          <select class="form-control" id="field_alunoChamada" data-cy="alunoChamada" name="alunoChamada" formControlName="alunoChamada">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="alunoOption.id === editForm.get('alunoChamada')!.value?.id ? editForm.get('alunoChamada')!.value : alunoOption"
              *ngFor="let alunoOption of alunosSharedCollection; trackBy: trackAlunoById"
            >
              {{ alunoOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.chamada.turmaChamada" for="field_turmaChamada"
            >Turma Chamada</label
          >
          <select class="form-control" id="field_turmaChamada" data-cy="turmaChamada" name="turmaChamada" formControlName="turmaChamada">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="turmaOption.id === editForm.get('turmaChamada')!.value?.id ? editForm.get('turmaChamada')!.value : turmaOption"
              *ngFor="let turmaOption of turmasSharedCollection; trackBy: trackTurmaById"
            >
              {{ turmaOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="escolaOnlineApp.chamada.professorChamada" for="field_professorChamada"
            >Professor Chamada</label
          >
          <select
            class="form-control"
            id="field_professorChamada"
            data-cy="professorChamada"
            name="professorChamada"
            formControlName="professorChamada"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                professorOption.id === editForm.get('professorChamada')!.value?.id
                  ? editForm.get('professorChamada')!.value
                  : professorOption
              "
              *ngFor="let professorOption of professorsSharedCollection; trackBy: trackProfessorById"
            >
              {{ professorOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
