<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grade">
            <h2><span jhiTranslate="escolaOnlineApp.grade.detail.title">Grade</span> {{ grade.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.grade.anoLetivo">Ano Letivo</span></dt>
                <dd>
                    <span>{{ grade.anoLetivo }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.grade.serieGrade">Serie Grade</span></dt>
                <dd>
                    <div *ngIf="grade.serieGrade">
                        <a [routerLink]="['/serie', grade.serieGrade?.id, 'view']">{{ grade.serieGrade?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.grade.materiaGrade">Materia Grade</span></dt>
                <dd>
                    <div *ngIf="grade.materiaGrade">
                        <a [routerLink]="['/materia', grade.materiaGrade?.id, 'view']">{{ grade.materiaGrade?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.grade.escolaGrade">Escola Grade</span></dt>
                <dd>
                    <div *ngIf="grade.escolaGrade">
                        <a [routerLink]="['/escola', grade.escolaGrade?.id, 'view']">{{ grade.escolaGrade?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grade', grade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
