<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diretor">
            <h2><span jhiTranslate="escolaOnlineApp.diretor.detail.title">Diretor</span> {{ diretor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="escolaOnlineApp.diretor.anoLetivo">Ano Letivo</span></dt>
                <dd>
                    <span>{{ diretor.anoLetivo }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.diretor.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{ diretor.dataInicio }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.diretor.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{ diretor.dataFim }}</span>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.diretor.pessoaDiretor">Pessoa Diretor</span></dt>
                <dd>
                    <div *ngIf="diretor.pessoaDiretor">
                        <a [routerLink]="['/pessoa', diretor.pessoaDiretor?.id, 'view']">{{ diretor.pessoaDiretor?.nome }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="escolaOnlineApp.diretor.unidadeDiretor">Unidade Diretor</span></dt>
                <dd>
                    <div *ngIf="diretor.unidadeDiretor">
                        <a [routerLink]="['/unidade', diretor.unidadeDiretor?.id, 'view']">{{ diretor.unidadeDiretor?.nome }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diretor', diretor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
